

/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {}

@media (min-width: 980px) {
  .colflow {
    -webkit-column-count: 2;
    -moz-columns        : 2;
    column-count        : 2;
    -webkit-column-gap  : @gridGutterWidth;
    column-gap          : @gridGutterWidth;
  }

  .modal {
    width: 883px;
    margin: -310px 0 0 -442px;
    .modal-video {
      height: 480px;
      max-height: 480px;
    }
  }
}

@media (max-width: 980px) {
  header {
    h1.main {
      font-size: 34px;
      background: none repeat scroll 0 0 #F5F5F5;
      display: inline-block;
      position: inherit;
      padding: 6px;
    }
    p {
      margin-right: 0;
      margin-left: 0;
    }

    .martin {
      margin-top: -62px;
    }
  }

  /* Unfloat brand */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    background-position: center left;
    padding-left: 36px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .colflow {
    -webkit-column-count: 2;
    -moz-columns        : 2;
    column-count        : 2;
    -webkit-column-gap  : @gridGutterWidth;
    column-gap          : @gridGutterWidth;
  }

  footer {
    input, textarea {
      width: 100%;
    }
  }

  .modal {
    width: 660px;
    margin: -250px 0 0 -330px;
    .modal-video {
      height: 360px;
    }
  }
}

/* smaller screens */
@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .navbar-fixed-top {
    .container {
      width: auto !important;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .footer {
    margin-left: -20px;
    margin-right: -20px;

    .container {
      margin-left: 20px;
      margin-right: 20px;
    }

    .left, .right {
      .clearfix;

      width: 50%;
      float: left;
    }

    /* Unfloat the back to top link in footer */
    .pull-right {
      float: none;
    }

    p {
      margin-bottom: 9px;
    }
  }

  .modal {
    width: 580px;
    margin: -250px 0 0 -280px;
    .modal-video {
      height: 315px;
    }
  }
}

/* iphone-ish (vert) */
@media (max-width: 650px) {

  #gmap {
    width: 100%;
    height: 200px;
  }

  header {
    .martin,
    .martin img {
      width: 100%;
      display: block;
    }
  }
}
/* iphone-ish (vert) */
@media (max-width: 540px) {
  header {
    h1.main {
      font-size: 28px;
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: -20px;
    }
    .martin {
      display: inline;
      width: auto;
      margin-left: -40px;
      margin-right: -20px;
      margin-bottom: 12px;
      margin-top: -56px;

      img {
        width: 100%;
        float: right;
      }
    }
  }

  body .navbar-fixed-top .brand {
    margin-left: 0px;
    font-size: 1.2em;
    line-height: 1.3em;
  }

  // put the payment terms prefix on it's own line
  .subtitle {
    display: block;
  }


  .footer {
    .left, .right {
      width: 100% !important;
      display: block;
    }
  }
}